# Application
assets/*
!assets/.gitkeep
plugins/*
!plugins/.gitkeep
storage/*
!storage/.gitkeep

# Craft
app
public/.htaccess
config/license.key

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
